# Ignore Streamlit secrets (but allow config.toml)
.streamlit/secrets.toml

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Video files
*.mp4
*.webm

# 🆕 Ignore your virtual environment
streamlit_quiz/